<nav class="navbar navbar-inverse navbar-fixed-bottom" >
  <div class="container-fluid" >
     <div class="navbar-header">
		<h5 style="color: white; line-height: 2.3;">Copyright Kaysser Kayyali @Ironhack <%= Time.now.year %></h5>
    
    </div>
		<ul class="nav navbar-nav pull-right">
	        <li><a href="<%= new_concert_path %>">Add new Concert</a></li>
	    </ul>
  </div>
</nav>