
<script>

<div style="height:300px; width: 300px; margin-left: 100px;">
<%= render './partials/reactshow' :locals => {:greeting => 'Hello world', :x => 36}%>
</div>

</script>




<%= react_component ('Main', searchResult: <%= search %>) %>

